html {
    background-color: rgb(230, 114, 6);
}

body {
    display: block;
    width: 80%;
    background-color: white;
    margin: auto;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    font-family: 'Bebas Neue', cursive;
}

header {
    display: flex;
    height: 300px;
}

.main-nav {
    background-color: white;
    padding: 20px;
    font-size: 2rem;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: rgb(230, 114, 6);
    text-decoration-style:dashed;
    
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #999;
    height: 2rem;
    width: 80%;
    padding-top: 1rem;
}

p {
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    /* margin: 30px; */
    width: 90%;    
    padding-left: 30px;
}

.winner {
    color: tomato;
    box-shadow: tomato;
}


#logo {
    align-self: center;
    height: 100%;
    padding: 0;
    margin-right: 100px;
    margin-left: 0;
}

#robot {
    width: 100px;
    height: auto;
}

#play-comp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#link-button {
    padding: 21px;
    font-size: 2rem;
    grid-column: 2;
}

#player-choice-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#enter-name {
    grid-column: 2;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

#name {
    margin: 17px;
    font-size: 1.5rem;
}

#make-choice-label {
    grid-row: 2;
    grid-column: 2;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

#choice-select {
    grid-row: 2;
    grid-column: 3;
    margin: 17px;
    font-size: 1.5rem;
    text-align: center; 
}

#play {
    grid-column: 3;
    grid-row: 3;
    margin: 17px;
    font-size: 1.5rem;
    border-style: none;
    background-color: rgb(230, 114, 6);
    color: white;
}

