<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
      <title>{{ title }} - RPS Game</title>
    </head>
    <body>
      <header>
        <ul class="main-nav">
          <li clas="navLink"><a href="/">Home</a></li>
        </ul>
        <img id="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="RPS game logo">
      </header>  
        {% block content %}
        
        
        
        {% endblock content %}
    </body>
    <footer>
      &copy; sponniah_tech, 2021. 
      Images courtesy of:
      <a href="https://www.vecteezy.com/free-vector/cartoon">Cartoon Vectors by Vecteezy</a>
      <a href="https://www.vecteezy.com/free-vector/robot-icon">Robot Icon Vectors by Vecteezy</a>
    </footer>
</html>
