{% extends 'base.html' %}

{% block content %}

    <h2>Can you beat the computer?...</h2>

    <form action="/play" method="post" id="player-choice-form">
        <label for="name" id="enter-name">Enter your name:</label>
        <input type="text" name="name" id="name">
        
        <label for="choice-select" id="make-choice-label">Make your choice from the dropdown box:</label>
        <select name="choice" id="choice-select">
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>

        <input type="submit" value="Play" id="play">
    </form>
    
{% endblock content %}

